<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [15]:
%%sql

select
date_trunc('month',orderdate) as monthz,
sum(netprice*quantity*exchangerate) as revenuee,
count(distinct customerkey)
from sales
group by monthz

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

                       monthz   revenuee  count
0   2015-01-01 00:00:00+00:00  384092.66    200
1   2015-02-01 00:00:00+00:00  706374.12    291
2   2015-03-01 00:00:00+00:00  332961.59    139
3   2015-04-01 00:00:00+00:00  160767.00     78
4   2015-05-01 00:00:00+00:00  548632.63    236
..                        ...        ...    ...
107 2023-12-01 00:00:00+00:00 2928550.93   1484
108 2024-01-01 00:00:00+00:00 2677498.55   1340
109 2024-02-01 00:00:00+00:00 3542322.55   1718
110 2024-03-01 00:00:00+00:00 1692854.89    877
111 2024-04-01 00:00:00+00:00  483851.39    246

[112 rows x 3 columns]

In [22]:
%%sql
select
distinct
orderdate,
extract (year from orderdate),
extract (Month from orderdate),
extract (day from orderdate)
from sales
order by orderdate
limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate extract extract extract
0  2015-01-01    2015       1       1
1  2015-01-02    2015       1       2
2  2015-01-03    2015       1       3
3  2015-01-05    2015       1       5
4  2015-01-06    2015       1       6
5  2015-01-07    2015       1       7
6  2015-01-08    2015       1       8
7  2015-01-09    2015       1       9
8  2015-01-10    2015       1      10
9  2015-01-12    2015       1      12